name: Unity Windows Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Windows
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: game-ci/unity-builder@v4
        with:
          unityVersion: 2022.3.62f3
          targetPlatform: StandaloneWindows64
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
