name: Unity Windows CI

on:
  push:
    branches:
      - main
      - devbot-work

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print OS Info
        run: systeminfo

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Build Solution
        run: dotnet build "My project.sln"
