name: Unity Windows Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Windows
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: game-ci/unity-builder@v4
        with:
          targetPlatform: StandaloneWindows64
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
